@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/********************        global        ********************/
html {
  scroll-behavior: smooth;
}
button {
  all: unset;
  background-color: white;
  font-size: 1vw;
}
body {
  background-color: rgb(7, 7, 7);
  color: white;
}
/********************        nav        ********************/
nav {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1vw;
  height: 7vh;
}
#home-button {
  float: right;
  height: 4vh;
  width: 6vw;
  background-color: rgb(200, 10, 10);
  text-align: center;
}
#home-button:hover {
  opacity: 90%;
}
/********************        top section        ********************/
.top {
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
  font-weight: 100;
}
/***   영화 포스터   ***/
.top > figure {
  height: 90%;
}
.movie-poster {
  height: 100%;
  object-fit: cover;
}
/***   영화 정보  ***/
.movie-data {
  display: flex;
  flex-direction: column;
  height: 90%;
  font-size: 1.2vw;
  gap: 3vh;
}
.movie-title {
  font-size: 150%;
}
/***   평점을 별로 바꾸기   ***/
.rating__input {
  display: none; /* 라디오버튼 hide */
}
.rating__label {
  width: 12px; /* 원본 사이즈/2 */
  overflow: hidden;
  cursor: pointer;
}
.rating__label .star-icon {
  width: 12px; /* 원본 사이즈/2 */
  height: 24px;
  display: block;
  position: relative;
  left: 0;
  background-image: url("../assets/empty_star.png");
  background-repeat: no-repeat;
}
.rating__label--half .star-icon {
  background-position: left;
}
.rating__label--full .star-icon {
  background-position: right;
}
/***   감독 정보   ***/
.movie-director {
  height: 90%;
  display: flex;
  align-items: center;
}
/********************        middle section        ********************/
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55vh;
}
/***   슬라이드 담을 박스  ***/
.actors-container {
  position: relative;
  height: 100%;
  overflow: auto;
}
/***   배우 카드 리스트   ***/
.actor-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: row;
  gap: 1.2vw;
  position: absolute;
  left: 0;
}
/***   배우 카드   ***/
.actor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  height: 19vw;
  gap: 1vh;
  font-size: 1vw;
}
/***   배우 카드 정보   ***/
.actor-img {
  width: 10vw;
  height: 15vw;
}
.actor-char-name {
  font-size: 1vw;
  color: whitesmoke;
}
.actor-name {
  font-size: 1.2vw;
}
/********************        bottom section        ********************/
.bottom {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  gap: 2vh;
}
/***   리뷰 입력란 전체   ***/
.review-input-form {
  width: 50vw;
}
/***   리뷰 입력란 첫째줄   ***/
.input-group {
  width: 100%;
}
#input-writer {
  width: 25%;
  font-size: 90%;
}
#input-password {
  width: 40%;
  font-size: 90%;
}
#select-stars {
  width: 20%;
  font-size: 90%;
  color: rgb(80, 80, 80);
}
#input-comment {
  width: 100%;
  font-size: 88%;
}
#submit-button {
  width: 10%;
  font-size: 90%;
}
/***   정렬 버튼 그룹   ***/
.sort-buttons {
  width: 50vw;
  display: flex;
  justify-content: end;
  gap: 0.5vw;
}
#sort-button-by-rate {
  font-size: 90%;
}
#sort-button-by-time {
  font-size: 90%;
}
/***   작성된 리뷰 리스트   ***/
#review-list {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 1vh;
  margin-bottom: 5vh;
}
/***   리뷰 한 개    ***/
.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
  gap: 0.2vw;
  padding: 1vh 0.5vw 1vh 1vw;
  font-size: 90%;
  background-color: #383838;
  border-radius: 1vh;
}
/***   리뷰 내용   ***/
.text {
  width: 60%;
}
/***   리뷰 작성자  ***/
.writer {
  width: 20%;
  text-align: center;
}
/***   리뷰 별점   ***/
.review-star {
  width: 20%;
  text-align: center;
}
/***   수정 및 삭제 버튼   ***/
.edit-btn {
  width: 7%;
  font-size: 70%;
}
.del-btn {
  width: 7%;
  font-size: 70%;
}

/********************        common        ********************/
.section {
  padding: 3vh 5vw;
}
.section-title {
  font-size: 2.5vw;
}
