.flex-container {
    display : flex;
    align-content: center;
}

.home-btn-class{
    margin : 20px 0;
}

.top{
    width: 100vw;
    padding: 0 2vw;
    background-color: navy;
}

.center{
    background-color: skyblue;
    width: 100vw;
    padding : 2vh 2vw;
    height : 50vh;
}

.movie-poster{
    height: 100%;
    margin: 0 2vw;
}

.movie-img{
    background-size: cover;
    background-repeat: no-repeat;
}