@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/********************        global        ********************/
html {
  background-color: rgb(7, 7, 7);
  color: white;
  /* 스크롤시 부드럽게 내려감 */
  scroll-behavior: smooth;
}
button {
  all: unset;
}
button:hover {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/********************        header        ********************/
header {
  display: flex;
  height: 40vh;
  position: relative;
  z-index: 1;
  font-size: 11vmin;
}
header > #main-title {
  margin: 2% auto 5% 5%;
}
header > #main-title > span:hover {
  cursor: pointer;
}
/*****     search tool     *****/
nav {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 40vw;
  height: 7vh;
  z-index: 3;
}
#search-option {
  width: 7vw;
  height: 3.5vh;
  text-align: center;
  font-size: 15%;
  border: none;
}
#search-input {
  width: 20vw;
  height: 3.2vh;
  border: none;
  padding-left: 1.5vw;
}
#search-input::placeholder {
  color: rgb(158, 158, 158);
}
#cancel-input {
  width: 2.3vw;
  height: 3.5vh;
  text-align: center;
  font-size: 2.5vh;
  background-color: white;
  color: rgb(158, 158, 158);
}
#search-button {
  width: 2.2vw;
  height: 3.5vh;
  text-align: center;
  background-color: rgb(236, 4, 4);
  opacity: 90%;
}
#search-icon {
  width: 55%;
  height: 60%;
}
/*****     sort tool     *****/
.dropdown-container {
  width: 5vw;
  height: 3.5vh;
  font-size: 14%;
  position: relative;
  background-color: rgb(47, 47, 47);
  opacity: 90%;
}
.dropdown-container > label {
  margin: 0px auto 0px auto;
  cursor: pointer;
}
#dropdown-toggle:checked ~ .dropdown-menu {
  opacity: 1;
  max-height: 10vh;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0;
  gap: 1vh;
  font-size: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: whitesmoke;
  color: black;
  overflow: hidden;
  /* 리스트 안 보이게 하기 */
  max-height: 0;
  opacity: 0;
  transition: 0.1s;
}
.dropdown-item:hover {
  cursor: pointer;
}
/********************        main        ********************/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8vh;
  padding-bottom: 12vh;
}
#titleImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  opacity: 30%;
}
/*****     list section     *****/
section {
  display: flex;
  flex-direction: column;
}
.list-title {
  color: rgb(240, 240, 240);
  font-size: 2vw;
  padding-left: 1vw;
  margin-bottom: 2vh;
  z-index: 3;
}
/*****     cards + arrows in a list     *****/
.cards-container {
  position: relative;
  /* width = 6 cards * (card width 11vw + gap 2vw) */
  width: 78vw;
  height: calc(11vw * 1.7);
  /* 넘치는 카드 가리기 */
  overflow: hidden;
}
/*****     cards in a list     *****/
.cards-container > ul {
  display: flex;
  position: absolute;
  left: 0;
  gap: 2vw;
  margin-left: 1vw;
}
/*****     each card     *****/
.card {
  top: 15;
  width: 11vw;
  height: calc(11vw * 1.5);
  border-radius: 0.3%;
  list-style-type: none;
  /* 호버시 작동시간 */
  transition: all 0.2s;
}
.card:hover {
  /* 호버 확대 */
  transform: scale(1.1);
  /* 호버 외각 */
  border: 2px solid;
  border-radius: 6%;
  border-color: aqua;
}
.image-box img {
  width: 11vw;
  height: calc(11vw * 1.5);
  border-radius: 0.5vw;
  object-fit: cover;
}
/*****     슬라이드 버튼     *****/
.arrow {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 45%;
  justify-content: space-between;
  font-size: 4vw;
  z-index: 4;
}
.prev {
  opacity: 70%;
  float: left;
}
.next {
  opacity: 70%;
  float: right;
}
.prev:hover {
  opacity: 100%;
  transform: scale(1.1);
}
.next:hover {
  opacity: 100%;
  transform: scale(1.1);
}
