@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  background-color: black;
  color: white;
  /* 스크롤시 부드럽게 내려감 */
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

header {
  display: flex;
  font-size: 11vh;
  margin: 1% auto 5% auto;
  position: relative;
  z-index: 1;
}
header > #main-title {
  margin-left: 5%;
  padding-top: 2%;
  margin-bottom: 5%;
}
header > #main-title > span:hover {
  cursor: pointer;
}
/* navigation bar */
nav {
  margin-left: 40vw;
  width: 90%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#search-form {
  display: flex;
}
#search-option {
  height: 3.43vh;
  padding-left: 8%;
  font-size: 15%;
}
#search-input {
  width: 14vw;
  height: 2.6vh;
  border: none;
  padding-left: 3dvb;
  padding-top: 1%;
  margin-top: 0.2%;
}
#search-input::placeholder {
  color: rgb(158, 158, 158);
}
#search-button {
  width: 4.8vw;
  height: 3.53vh;
  font-size: 18%;
  padding-left: 4%;
  background-color: rgb(190, 38, 38);
}
.dropdown-container {
  width: 4.8vw;
  height: 3.53vh;
  font-size: 17%;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  background-color: rgb(83, 83, 83);
}
.dropdown-container > label {
  margin: 0px auto 0px auto;
}
#dropdown-toggle:checked ~ .dropdown-menu {
  /* 리스트 보이기 */
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  max-height: 10vh;
}
.dropdown-menu {
  font-size: 90%;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 2px;
  background-color: whitesmoke;
  color: black;
  gap: 1vw;
  /* 리스트 안 보이게 하기 */
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: 0.2s;
  padding: 1px;
}
#titleImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
  opacity: 30%;
}
h2 {
  color: rgb(237, 235, 235);
  font-size: 2.7vw;
  margin: 2% 0 0 5%;
  z-index: 3;
  position: relative;
}

.movie-container {
  position: relative;
  width: 88vw;
  height: 45vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* 넘치는 카드 가리기 */
  overflow: hidden;
}

/* flex 사용 */
.flex-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  width: 86vw;
  padding: 0;
  /* 가로 정랼 */
  float: left;
  bottom: 30;
  margin-top: 3%;
}
/* 넓이 지정을 통해 한줄당 나열될 카드 수 지정 */
.card {
  top: 15;
  width: 10.2vw;
  height: 34vh;
  /* 카드수 수정은 마진으로 */
  margin: 0 0.5vw;
  text-align: center;
  border-radius: 0.3%;
  list-style-type: none;
  /* 호버시 작동시간 */
  transition: all 0.2s;
}
.card:hover {
  /* 호버 확대 */
  transform: scale(1.1);
  /* 호버 외각 */
  border: 2px solid;
  border-radius: 6%;
  border-color: aqua;
}
.image-box img {
  width: 10.2vw;
  height: 30vh;
  border-radius: 0.5vw;
  /* margin-top: 1rem; */
}
.arrow {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 45%;
  justify-content: space-between;
  font-size: 4vw;
  z-index: 4;
}
/* 버튼 양쪽에 배치 */
.prev {
  float: left;
}
.next {
  float: right;
}
.prev:hover {
  opacity: 70%;
  transform: scale(1.3);
}
.next:hover {
  opacity: 70%;
  transform: scale(1.3);
}

#content {
  padding: 1rem 1rem 1rem 1rem;
}

#none {
  display: none;
}

#block {
  display: block;
}

button {
  all: unset;
}
