@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 8vw;
  border-radius: 2rem;
  background-color: #d3ac2b;
  margin: 0 auto 0 auto;
}
header > #main-title > span:hover {
  cursor: pointer;
}

h2 {
  font-size: 3vw;
  margin: 2% 0 0 3%;
}

body {
  background-color: #57648c;
}

.movie-container {
  position: relative;
  width: 88vw;
  height: 42vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* flex 사용 */
.flex-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  width: 86vw;
  padding: 0;
  float: left;
}
/* 넓이 지정을 통해 한줄당 나열될 카드 수 지정 */
.card {
  width: 18vw;
  height: 40vh;
  /* 카드수 수정은 마진으로 */
  margin: 0 0.6vw;
  text-align: center;
  background-color: #938866;
  border-radius: 2rem;
  list-style-type: none;
}
.arrow {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 45%;
  justify-content: space-between;
}
.prev {
  float: left;
}
.next {
  float: right;
}

.image-box img {
  width: 8vw;
  height: 27vh;
  border-radius: 2rem;
  margin-top: 1rem;
}

/* navigation bar */
nav {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-form {
  display: flex;
  gap: 10px;
}
#search-option {
  height: 28px;
  border-radius: 5px;
  border-width: 1px;
  padding-left: 10px;
}
#search-input {
  width: 250px;
  height: 25px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
#search-input::placeholder {
  color: rgb(158, 158, 158);
}
#search-button {
  width: 40px;
  height: 28px;
  border-radius: 5px;
  border-width: 1px;
}
#sortTitleUp {
  height: 28px;
  border-radius: 5px;
  border-width: 1px;
  margin-left: 5px;
}

#main-title {
  margin: 0 auto 0 auto;
  padding-top: 1rem;
}

#content {
  padding: 1rem 1rem 1rem 1rem;
}

#none {
  display: none;
}

#block {
  display: block;
}
